<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>
<div layout:fragment="content">
  <div>
    <a class="btn btn-success button-fixed" 
       th:href="@{/order/edit/}">
      <i class="fa-solid fa-plus"></i> Добавить
    </a>
  </div>
  <div class="table-responsive" sec:authorize="isAuthenticated()">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Продукты</th>
        <th scope="col">Цена</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order, iterator: ${orders}">
        <th scope="row" th:text="${iterator.index} + 1"/>
        <td th:text="${order.id}"/>
        <td> <a class="btn btn-info button-fixed button-sm"
                           th:href="@{/order/productlistex/{id}(id=${order.id})}">
          <i class="fa fa-pencil" aria-hidden="true"></i> Показать
          </a>
        </td>
        <td th:text="${order.price}"/>
        <td style="width: 10%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-warning button-fixed button-sm" 
               th:href="@{/order/edit/{id}(id=${order.id})}">
              <i class="fa fa-pencil" aria-hidden="true"></i> Изменить
            </a>
            <button type="button" class="btn btn-danger button-fixed button-sm" 
                    th:attr="onclick=|confirm('Удалить запись?') && document.getElementById('remove-${order.id}').click()|">
              <i class="fa fa-trash" aria-hidden="true"></i> Удалить
            </button>
          </div>
          <form th:action="@{/order/delete/{id}(id=${order.id})}" method="post">
            <button th:id="'remove-' + ${order.id}" type="submit" style="display: none">
              Удалить
            </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>