<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div class="container" layout:fragment="content">
    <div th:if="${errors}" th:text="${errors}" class="margin-bottom alert alert-danger"></div>
    <form action="#" th:action="@{/shop/edit/{id}(id=${id})}"  th:object="${shopDto}" method="post">
        <div class="col-mb-3">
            <label for="shopName" class="form-label">Имя</label>
            <input type="text" class="form-control" id="shopName" required th:field="${shopDto.shopName}">
        </div>
        <br>
        <div class="col-mt-3">
            <button type="submit" class="btn btn-primary button-fixed">
                <span th:if="${id == null}">Добавить</span>
                <span th:if="${id != null}">Обновить</span>
            </button>
            <a class="btn btn-secondary button-fixed" th:href="@{/shop}">
                Назад
            </a>
        </div>
    </form>
</div>
</body>
</html>